numpy
pandas
matplotlib
scikit-learn
nltk
datasets
transformers
torch
https://github.com/egbertbouman/youtube-comment-downloader/archive/master.zip
streamlit
youtube_comment_downloader
requests
youtube_transcript_api
IPython
gitignore